.navbar-header img {
  padding-top: 4px;
  padding-left: 8px;
}

.footer {
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
}

.navbar-default {
  background-color: #eee;
  border-color: #eee;
}
.navbar-default .navbar-brand {
  color: #ce2812;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #f00;
}
.navbar-default .navbar-text {
  color: #ce2812;
}
.navbar-default .navbar-nav > li > a {
  color: #ce2812;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f00;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #f00;
  background-color: #eee;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #f00;
  background-color: #eee;
}
.navbar-default .navbar-toggle {
  border-color: #eee;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #eee;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ce2812;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ce2812;
}
.navbar-default .navbar-link {
  color: #ce2812;
}
.navbar-default .navbar-link:hover {
  color: #f00;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ce2812;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f00;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f00;
    background-color: #eee;
  }
}

.mruby-is {
  padding: 5px 20px 20px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.mruby-is p {
  font-size: 150%;
  padding-top: 15px;
}

.mruby-is-get {
  text-align: center; 
  padding-top: 5px;
}

.mruby-is img {
  width: auto;
  height: 90px;
  float: left;
  padding-right: 20px;
}

.posts p {
  font-size: 120%;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.posts a {
  font-size: 120%;
}
