*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

a { color: #ce2812; }
a:hover { color: #AD2D1D;}

.logo {
  float: left;
}

.logo img {
  padding-top: 4px;
  padding-left: 8px;
  margin-right: 8px;
}

.footer {
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
  color: #999;
  font-size: .75em;
}

nav {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  overflow: hidden; /* clearfix */
}

.mruby-is {
  padding: 25px 40px 40px 40px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ce2812;
  color: #fff;
}

.mruby-is a {
  color: inherit;
  text-decoration: underline;
}

.mruby-is p {
  font-size: 150%;
  padding-top: 15px;
}

.mruby-is .btn {
  text-decoration: none;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  opacity: .9;
}

.mruby-is .btn:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #ce2812;
  opacity: 1; 
}

.mruby-is-get {
  text-align: center; 
  padding-top: 5px;
}

.mruby-is img {
  width: 100px;
  height: 90px;
  float: left;
  padding-right: 20px;
}

.posts p {
  font-size: 120%;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.posts a {
  font-size: 120%;
}
