      <footer class="footer">
        <div class="container">
          <a href="https://github.com/h2so5/mruby-logo">mruby-logo</a> provided by <a href="https://github.com/h2so5">h2so5</a>
        </div>
        <div>
          <a href="/feed.xml">
            <img src="/assets/images/icons/atom-feed.png" alt="Atom feed" title="Atom feed" width="25" height="25">
          </a>
          <a href="/rss.xml">
            <img src="/assets/images/icons/rss-feed.png" alt="RSS feed" title="RSS feed" width="25" height="25">
          </a>
        </div>
      </footer>
