<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/apple-touch-icon-57x57.png?v=1">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/icons/apple-touch-icon-60x60.png?v=1">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icons/apple-touch-icon-72x72.png?v=1">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icons/apple-touch-icon-76x76.png?v=1">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons/apple-touch-icon-114x114.png?v=1">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/icons/apple-touch-icon-120x120.png?v=1">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/icons/apple-touch-icon-144x144.png?v=1">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icons/apple-touch-icon-152x152.png?v=1">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon-180x180.png?v=1">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png?v=1">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png?v=1">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/images/icons/android-chrome-192x192.png?v=1">
<link rel="manifest" href="/assets/images/icons/site.webmanifest?v=1">
<link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg?v=1" color="#e0115f">
<link rel="shortcut icon" href="/favicon.ico?v=1">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/assets/images/icons/mstile-144x144.png?v=1">
<meta name="msapplication-config" content="/browserconfig.xml?v=1">
<meta name="theme-color" content="#e0115f">
