a {
  color: #ce2812;
}

.container {
  padding-top: 120px;
}

.navbar-header img {
  margin-left: 160px;
  top:0;
  position: absolute;
}

.footer {
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
}

.navbar-mruby {
  background-color: transparent;
  background-image: url('/assets/images/navigation_bg.png');
  border: 0px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 100;
  height: unset;
}

.navbar-mruby .navbar-brand {
  color: #ce2812;
}
.navbar-mruby .navbar-brand:hover, .navbar-mruby .navbar-brand:focus {
  color: #f00;
}
.navbar-mruby .navbar-text {
  color: #ce2812;
}

.navbar-mruby .navbar-nav  {
  float: right;
  padding-right: 120px;
}

.navbar-nav > li {
  float: left;
}

.navbar-mruby .navbar-nav > li > a {
  padding: 15px 22px!important;
  color: #ce2812;
}
.navbar-mruby .navbar-nav > li > a:hover, .navbar-mruby .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #ce2812;
}
.navbar-mruby .navbar-nav > .active > a, .navbar-mruby .navbar-nav > .active > a:hover, .navbar-mruby .navbar-nav > .active > a:focus {
  color: #f00;
  background-color: #eee;
}
.navbar-mruby .navbar-nav > .open > a, .navbar-mruby .navbar-nav > .open > a:hover, .navbar-mruby .navbar-nav > .open > a:focus {
  color: #f00;
  background-color: #eee;
}
.navbar-mruby .navbar-toggle {
  border-color: #eee;
}
.navbar-mruby .navbar-toggle:hover, .navbar-mruby .navbar-toggle:focus {
  background-color: #eee;
}
.navbar-mruby .navbar-toggle .icon-bar {
  background-color: #ce2812;
}
.navbar-mruby .navbar-collapse,
.navbar-mruby .navbar-form {
  border-color: #ce2812;
}
.navbar-mruby .navbar-link {
  color: #ce2812;
}
.navbar-mruby .navbar-link:hover {
  color: #f00;
  background-color: 000;
}

@media (max-width: 950px) {
  .navbar-header img {
    margin-left: 0px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .navbar-mruby .navbar-nav .open .dropdown-menu > li > a {
    color: #ce2812;
  }
  .navbar-mruby .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-mruby .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f00;
  }
  .navbar-mruby .navbar-nav .open .dropdown-menu > .active > a, .navbar-mruby .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-mruby .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f00;
    background-color: #eee;
  }
}

.mruby-is {
  padding: 5px 20px 20px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.mruby-is p {
  font-size: 150%;
  padding-top: 15px;
}

.mruby-is-get {
  text-align: center;
  padding-top: 5px;
}

.mruby-is img {
  width: auto;
  height: 90px;
  float: left;
  padding-right: 20px;
}

table td,th {
  border:2px solid #eee;
  padding:4px;
}
