<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="header">
          <a href="/"><img class="logo_icon" src="/images/mruby_logo_red_icon.png"/></a>
          <a href="/"><h1>mruby</h1></a>
        </div>

        <div class="site">

          {{ content }}

        </div>

        <div class="footer">
          <a href="https://github.com/h2so5/mruby-logo">mruby-logo</a> provided by <a href="https://github.com/h2so5">h2so5</a>
        </div>

    </body>
</html>
